#content
	%p	
		= image_tag("leslie_johnson.jpg")
	%p
		= link_to '', welcome_resume_path, :id => 'button_nav_resume', :class => 'center'
	%p
		= link_to '', welcome_samples_path, :id => 'button_nav_samples', :class => 'center'
	%p
		= image_tag("portfolio.jpg")
		/= link_to 'Portfolio', welcome_portfolio_path, :id => 'button_nav_portfolio', :class => 'center'
